body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 0;
}

main {
  background-color: white;
  text-align: center;
  border-radius: 3rem;
  text-decoration: none;
  margin: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav {
  background-color: white;
  color: black;
  flex-direction: row;
  display: flex;
}

nav li {
  margin: 1rem;
  font-weight: bold;
}
